<!-- Include head partial here -->
<%- include('../partials/head') %>

<body>
  <!-- Include header partial here -->
  <%- include('../partials/header') %>
  <nav>
    <a href="/breeds">Breeds</a>
    <a href="/facts">Facts</a>
  </nav>
  <div class="fact-detail-container">
    <h1>Fact Details</h1>

    <!-- Display breed details -->
    <div class="fact-detail">
      <h3>Fact: <%= fact.fact %></h3>
      <p>Length: <%= fact.length %></p>
    </div>
  </div>

    <footer>
        <!-- Include foot and footer partials here -->
    </footer>
</body>

</html>
